.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table.rows-and-columns td.type-pk {
  position: relative;
  padding-left: 1.5em;
}

.row-icon {
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 1em;
}
@media only screen and (max-width: 576px) {
  .row-icon {
    top: 1.2em;
  }
  td.type-pk {
    padding-left: 10%;
  }
}

.row-icon .icon {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.datasette-write-ui-menu {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  background-color: #fefefe;
  border: 1px solid #888;
  padding: 0.3em 0.3em 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
}

.datasette-write-ui-menu button {
  display: block;
  margin-bottom: 0.3em;
  width: 100%;
  cursor: pointer;
}

.form-fields-container {
  display: grid;
  grid-template-columns: 200px auto;
}

@media only screen and (max-width: 576px) {
  .form-fields-container {
    display: grid;
    grid-template-columns: auto;
  }
}
