.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.row-icon {
  position: relative;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  display: inline-block;
  padding-right: 0.25rem;
}

.row-icon .icon {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.row-icon .menu {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  background-color: #fefefe;
  border: 1px solid #888;
}

.row-icon .menu button {
  display: block;
}

td {
  white-space: nowrap !important;
}

.form-fields-container {
  display: grid;
  grid-template-columns: 200px auto;
}

@media only screen and (max-width: 576px) {
  .form-fields-container {
    display: grid;
    grid-template-columns: auto;
  }
}
